@font-face
{
    font-family: "Sukhumvit";
    src: url("./Sukhumvit/SukhumvitSet-SemiBold.ttf");
}

/* Navbar */
.navbar {
  font-family: "Sukhumvit";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #95ddff; 
  padding: 8px 20px;
  box-sizing: border-box;
}

.navbar-brand {
  color: rgb(255, 111, 224);
  text-shadow: 5px 3px 5px white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/* Body */
body {
  font-family: "Sukhumvit";
  margin: 0 auto;
  padding: 0;
  background-color: peachpuff;
  background-image: url("./Background/Wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Container */
.container {
  max-width: 600px;
  width: 90%;
  margin-top: 6vh;
  max-height: 88vh;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(150, 232, 255, 0.5);
  backdrop-filter: blur(6px);
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 600px) {
  .container {
      margin-top: 60px;
  }
}

/* Main Title */
.main-title {
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
  
}

/* Sub Title */
.sub-title {
  text-align: left;
  margin-top: 30px;
  font-size: 30px;
}

/* Form Group */
.form-group {
  margin-bottom: 15px;
}

/* Label */
.label {
  font-weight: bold;
  font-size: 20px;
}

/* Input & Select */
.input,
.select {
  width: calc(100% - 16px);
  padding: 8px;
  background: #ffefef;
  border: 2px solid #8ee5ff;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Button */
.button {
  width: 100%;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

/* Message */
.message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
}

.message.danger {
  background-color: #f8d7da;
  color: #721c24;
}

/* Center */
.center {
  text-align: center;
}
