@font-face {
  font-family: "Archivo";
  src: url("./Archivo/Archivo-VariableFont_wdth\,wght.ttf");
}

/* Navbar */
.navbar {
  font-family: "Archivo";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000; /* Green navbar */
  padding: 10px 20px;
  box-sizing: border-box;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/* Body */
body {
  margin: 0;
  padding: 0;
  background-color: peachpuff;
  height: 100vh;
  background-image: url("./Background/Wallpaper.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  margin-top: 50px;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: rgb(3, 2, 0);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

.main-title {
  text-align: center;
  margin-bottom: 20px;
}

.sub-title {
  margin-top: 20px;
  font-size: 18px;
}

/* Form */
.form-group {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
}

.input,
.select {
  width: calc(100% - 16px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
}

.message.danger {
  background-color: #f8d7da;
  color: #721c24;
}

.center {
  text-align: center;
}
